* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  width: 105px;
  height: 39px;
}

h1 {
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 28px;
  display: flex;
  white-space: pre-line;
  margin-top: 100px;
  margin-left: 80px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 800px;
  margin-top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  padding: 20px;
  margin-left: 30px;
}

.nav-links {
  font-family: "Inter";
  font-style: normal;
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 28px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
}

.span-accent {
  color: #ff976b;
  font-style: italic;
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  margin-top: 183px;
}

.header-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
}

.header-image {
  position: absolute;
  right: 0;
  top: 0%;
  width: 646px;
  height: 568px;
  margin-top: 124px;
  padding-right: 5px;
  outline: none;
  border: none;
}

.header-info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header-hours {
  margin-left: 80px;
  margin-bottom: 40px;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-address {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 80px;
  margin-bottom: 40px;
}
